apptools==5.1.0
configobj==5.0.6
envisage==6.0.0
importlib-metadata==4.5.0
importlib-resources==5.1.4
mayavi==4.7.3
numpy==1.20.3
plyfile==0.7.4
pyface==7.3.0
Pygments==2.9.0
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
six==1.16.0
traits==6.2.0
traitsui==7.2.1
vtk==9.0.1
zipp==3.4.1
